scan
	base-package:com.bc.*
#aop
aop
	#{modifier} {return type} {class.method(..|arg Type,arg Type)} or class 
	pointcut:com.bc.test.b.AspectBeanC
	handler-class:com.bc.test.aop.ProxyInvocationHandler
	handler-ref:

bean
	class:java.lang.String
	constructor-arg
		value:123545
#≤‚ ‘beans
beans
	bean
		id:firstBeanTmp
		class:com.bc.test.a.FirstBean
		lazy-init:default
		replaced-method
			name:toReplace
			replacer:replacer

alias
	alias:firstBeanTmpAlias
	name:firstBeanTmp

bean
	id:replacer
	class:com.bc.test.a.FirstBean.Replacer

#≤‚ ‘constructor-arg
bean
	id:constructorArgTest
	class:com.bc.test.a.ConstructorArgTest
	constructor-arg
		array
			value
				text:1234
			value
				text:2345
			value
				text:3456
	constructor-arg
		props
			prop
				key:1234
				value:121
			prop
				key:asdf
				value:2345
	constructor-arg
		map
			entry
				key:1234
				value:gggd
			entry
				key:123
				value:gggd
#≤‚ ‘property
bean
	id:propertyTest
	class:com.bc.test.a.PropertyTest
	property
		name:a
		value:aaaaaaa
	property
		name:b
		value:bbbbbbb
	property
		name:c
		value:ccccccc
import
	resource:./spring.import.config
 

