scan
 base.package:com.bc.*

bean
 class:java.lang.String
 constructor-arg
  value:123545

bean
 id:firstBeanTmp
 class:com.bc.test.FirstBean
 lazy-init:default
 replaced-method
  name:toReplace
  replacer:replacer

bean
 id:replacer
 class:com.bc.test.FirstBean.Replacer

import
 resource:./spring.import.config
